@media (min-width: 640px) {
  main {
     display: grid;Add commentMore actions
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
  .mobile-icon {
    display: none !important;
  .weather-icon {
    display: inline;
  }

  .weather-svg {
    display: none;
  }
}
