:root {
  --primary-color: #006847;
  --secondary-color: #ffffff;
}

body {
  font-family: sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.weather h2::after {
  content: " ⛅";
  display: none;
}

@media (min-width: 600px) {
  .weather h2::after {
    display: inline;
  }
  .mobile-icon {
    display: none;
  }
}
