@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #menu {
    display: none;
  }

  .navigation {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navigation li {
    width: auto;
  }

  .temple-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
